@{
    ViewBag.Title = "ClassList";
}

<h2>Class List</h2>

<table class="table">
    <tr>
        <th style="color:blue;"><b>Name</b></th>
        <th style="color:blue;"><b>Description</b></th>
        <th style="color:blue;"><b>Price</b></th>
    </tr>
    @foreach (var item in ViewBag.ClassList)
    {
        <tr>
            <td Width="200px">@item.ClassName</td>
            <td Width="300px">@item.ClassDescription</td>
            <td>@string.Format($"{item.ClassPrice:c}")</td>
        </tr>
    }
</table>

