@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    The Learning Center<br />
    Fakeville, WA 99999-9999<br />
    <abbr title="Phone">P:</abbr>
    555.555.5555
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@TheLeaningCenter.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@TheLearningCenter.com</a>
</address>